{% extends 'base.html' %}

{% block content %}
<section id="sobre">
    <h2>Sobre Mim</h2>
    <p>Meu nome é Pedro Arthur Afonso Pereira. Sou um aspirante a programador de 22 anos com interesse em desenvolvimento web e de software.</p>
</section>

<section id="projetos">
    <h2>Projetos</h2>

    <div class="projeto">
        <h3>Dashboard de Chamados</h3>
        <p>Este projeto consiste em um dashboard interativo para monitorar e gerenciar chamados em uma empresa. O dashboard foi desenvolvido usando Python e bibliotecas como Dash e Plotly, permitindo a visualização de métricas importantes, como o tempo médio de resolução de chamados, número de chamados abertos, fechados, pendentes, e a distribuição de chamados por setor. Com filtros interativos e gráficos dinâmicos, o dashboard ajuda os gerentes a tomar decisões informadas e melhorar a eficiência do atendimento ao cliente.</p>
    </div>

    <div class="projeto">
        <h3>Dashboard de Pagamentos de Notas Fiscais</h3>
        <p>Este projeto é um dashboard desenvolvido para acompanhar e gerenciar pagamentos de notas fiscais em uma empresa. Utilizando ferramentas como Power BI e SQL, o dashboard fornece uma visão abrangente sobre o status dos pagamentos, incluindo notas fiscais pendentes, pagas e em atraso. Ele também inclui recursos de drill-down para analisar informações detalhadas por fornecedor, data de vencimento, e departamento responsável, facilitando o controle financeiro e garantindo a conformidade com os prazos de pagamento.</p>
    </div>
</section>

<section id="contato">
    <h2>Contato</h2>
    <p>Email: pedroarthur1058@gmail.com</p>
    <p>LinkedIn: <a href="https://www.linkedin.com/in/seulinkedin" target="_blank">Seu LinkedIn</a></p>
</section>
{% endblock %}
